{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}
{% block css %}     
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/login.css')}}">
{% endblock %}
{% block body %}
<div id="form-wrapper" class="form-wrapper login">
    <div class="img-in-h1 text-center">
        <img class="logo-ccur img-fluid" src="{{ asset('img/afti.png')}}">
        <h1 style="font-size:1.5vw;" class="display-4 text-center text-dark">Bibliothèque - Register</h1><hr><br>
    </div>
    {{form_start(form)}}
    <div class="row">
        <div class="col-md-6">
            {{form_row(form.firstName)}}
        </div>
        <div class="col-md-6">
            {{form_row(form.lastName)}}
        </div>
    </div>
    {{form_row(form.username)}}
    {{form_row(form.password)}}
    <div class="row btn btn-block">
        {{form_row(form.Submit)}}
    </div>
    {{form_end(form)}}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <a href="{{path('app_login')}}"> J'ai déjà un compte</a>
        </div>
    </div>
</div>
{% endblock %}
