{% extends "base.html.twig" %}

{% block title %}Détail article{% endblock %}

{% block body %}
    <h1>Article</h1>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ article.author }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            
        </tbody>
    </table>
    <a href="{{ path('all_articles') }}">back to list</a>
    <a href="{{path('reservation_article_connu', {'id': article.id})}}"> Réserver </a>

{% endblock %}
