{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

    <h1>Article index</h1><hr><br>
    <table class="table text-center">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Stock</th>    
                <th colspan="2">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.author }}</td>
                <td>{{ article.stock }}</td>
                <td>
                    <a href="{{ path('show_article', {'id': article.id}) }}">voir</a>
                </td>
                <td>
                    <a href="{{ path('reservation_article_connu', {'id': article.id}) }}">réserver</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
