<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>BAFTI - 
			{% block title %}{% endblock %}
		</title>
		{% block css %}
			<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			<link rel="stylesheet" href="{{ asset('css/style.css')}}">
			<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
			<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
			<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>
		<div class="wrapper">
			<nav id="sidebar">
				<div class="sidebar-header">
					<img src="{{ asset('img/afti.png')}}" height="27">
				</div>
				<ul class="list-unstyled components">
					<p>Navigation</p>
					<br>
					<li>
						<a href="{{path('home')}}">Accueil</a>
					</li>
					<li>
						<a href="#ouvragesMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ouvrages</a>
						<ul class="collapse list-unstyled" id="ouvragesMenu">
							<li>
								<a href="{{path('all_articles')}}">Tous les ouvrages</a>
							</li>
							<li>
								<a href="#">Rechercher un ouvrage</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#reservationMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Réservations</a>
						<ul class="collapse list-unstyled" id="reservationMenu">
							<li>
								<a href="#">Réserver un ouvrage</a>
							</li>
							<li>
								<a href="{{path('userReservations')}}">Mes réservations</a>
							</li>
						</ul>
					</li>
					{% if is_granted("ROLE_ADMIN") %}
					<li>
						<a href="#clientSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" href="#">Gestion des utilisateurs</a>
						<ul class="collapse list-unstyled" id="clientSubmenu">
							<li>
								<a href="{{path('user_index')}}">Tous les utilisateurs</a>
							</li>
							<li>
								<a href="{{path('user_new')}}">Ajouter un utilisateur</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#articleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" href="#">Gestion des articles</a>
						<ul class="collapse list-unstyled" id="articleSubmenu">
							<li>
								<a href="{{path('article_index')}}">Tous les articles</a>
							</li>
							<li>
								<a href="{{path('article_new')}}">Ajouter un article</a>
							</li>
						</ul>
					</li>
					{% endif %}
					<li>
						<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
						<ul class="collapse list-unstyled" id="pageSubmenu">
							<li>
								<a href="#">Page 1</a>
							</li>
							<li>
								<a href="#">Page 2</a>
							</li>
							<li>
								<a href="#">Page 3</a>
							</li>
						</ul>
					</li>
				</ul>

				{% if is_granted('ROLE_USER') %}
				<ul class="list-unstyled CTAs">
					<li>
						<a href="{{path('app_logout')}}" class="btn btn-danger">Deconnexion</a>
					</li>
				</ul>
				{% endif %}

				{% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') and not is_granted("ROLE_USER") %}
					<div class="row">
						<div class="col-md-6">
							<a href="{{path('app_login')}}" class="btn btn-primary btn-block"> Connexion </a>
						</div>
						<div class="col-md-6">
							<a href="{{path('app_register')}}" class="btn btn-success btn-block"> Inscription </a>
						</div>
					</div>
				{% endif %}

			</nav>
			<!-- Page Content Holder -->
			<div id="content">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="container-fluid">
						<button type="button" id="sidebarCollapse" class="navbar-btn">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<i class="fas fa-align-justify"></i>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="nav navbar-nav ml-auto">
								<li class="nav-item active">
								</li>
							</ul>
						</div>
					</div>
				</nav>
				<div class="container"> 
					{% for message in app.flashes('success') %}
					<div class="row m-4">
						<div class="col-md-6 offset-md-3 text-center alert-success">
							{{message}}
						</div>
					</div>
					{% endfor %}
					{% for message in app.flashes('error') %}
						<div class="row m-4">
							<div class="col-md-6 offset-md-3 text-center alert-danger">
								{{message}}
							</div>
						</div>
					{% endfor %}
					{% block body %}
					{% endblock %}
				</div>
			</div>
			<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
			<script type="text/javascript">
				$(document).ready(function () {
					$('#sidebarCollapse').on('click', function () {
						$('#sidebar').toggleClass('active');
						$(this).toggleClass('active');
						});
					});
			</script>
			{% block javascripts %}{% endblock %}
	</body>
</html>
